/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* common style */

body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    padding: 33px;
    margin: 21px 0;
}
.section-tittle{
    font-size: 24px;
    font-weight: 600;
    color: #562EFF;
    margin: 0;
    padding-bottom: 40px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/* -----------
Top Players 
--------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    color: #000000;
    font-size: 18;
    font-weight: 500;
}
/* -----------
Top Blogs 
--------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    align-items: center;
}

.thamniall img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin: 7px 0;
}
.blog-info p{
    font-size: 16px;
    color: #9F9F9F;
    ;
    margin: 0;
}
.blog-info p a{
    color:#562EFF;
    text-decoration: none;
}