/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* common style */

body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    margin: 0;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    padding: 33px;
    margin: 21px 0;
}
.section-tittle{
    font-size: 24px;
    font-weight: 600;
    color: #562EFF;
    margin: 0;
    padding-bottom: 40px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/* ------------
header section
--------------- */
.menu-logo{
    background-color: #562EFF;
    display: flex;
    justify-content: space-between;
    padding: 15px 280px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 40.42px;
    height: 51px;
}
.logo span{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-left: 07px;
}
.nav-proile{
    display: flex;
    justify-content: space-between;
}
.proile img{
    width: 51px;
    height: 51px;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
}

/* -----------
Top Players 
--------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    color: #000000;
    font-size: 18;
    font-weight: 500;
}
/* -----------
Top Blogs 
--------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    align-items: center;
}

.thamniall img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin: 7px 0;
}
.blog-info p{
    font-size: 16px;
    color: #9F9F9F;
    ;
    margin: 0;
}
.blog-info p a{
    color:#562EFF;
    text-decoration: none;
}
/*------------ 
Leates Course 
--------------*/

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px ;
}
.course{
 box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
 border-radius: 20px;
 padding: 25px;
}
.courses-banner img{
    width: 224.38px;
    height: 105.51px;
}
.courses-name{
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
}
.courses-author{
    font-size: 15px;
    font-weight: 400;
    color: #ED6B4F;
}
.courses-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-reating{
    font-size: 12px;
}
.courses-reating .goldon-icon{
    color: #FFC014;
}
.courses-reating .gray-icon{
    color: #AEAEAE;
}
.courses-reating span{
    color:  #A2A2A2;
    font-size: 14px;
    font-weight: 500;
}
.course-durasion{
    background-color:#FFE4E8;
    padding: 07px 12px;
    border-radius: 30px;
    color: #FF4A60;
}
.course-durasion span{
    font-size: 14px;
    font-weight: 600;
}


/* --------------- 
   Meadia Quries 
-----------------*/

/* Mobile Divies */

@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }

    .players,  .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        justify-content: center;
    }
    .blog{
        flex-direction: column;
    }

}

/* Tablate Divies */

@media only screen and (min-width:689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players,  .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    
}